<h1>Angular 2 lesson </h1>

<nav>
  <h4>Compoentns</h4>
  <a routerLink="/style" routerLinkActive="active">Styles</a><br>
  <a routerLink="/input" routerLinkActive="active">Input</a><br>
  <a routerLink="/output" routerLinkActive="active">Output</a><br>
  <a routerLink="/componentProps" routerLinkActive="active">ComponentProps</a><br>
  <a routerLink="/projection" routerLinkActive="active">Projection</a><br>
  <h4>LifeCicle</h4>
  <a routerLink="/ngOnInit" roterLinkActive="active">NgOnInit</a><br>
  <a routerLink="/ngOnChanges1" routerLinkActive="active">NgOnChanges 1</a><br>
  <a routerLink="/allEvents" routerLinkActive="active">AllEvents</a><br>
  <h4>Children end Parents</h4>
  <a routerLink="/viewChild" routerLinkActive="active">ViewChild</a><br>
  <a routerLink="/viewChildren" routerLinkActive="active">ViewChildren</a><br>
  <a routerLink="/viewContent" routerLinkActive="active">ViewContent</a><br>
</nav>

<div class="red">
  <router-outlet></router-outlet>
</div>