<h1>Angular 2 lesson </h1>

<nav>
  <h4>Compoentns</h4>
  <a routerLink="/style" routerLinkActive="active">Styles</a><br>
  <a routerLink="/input" routerLinkActive="active">Input</a><br>
  <a routerLink="/output" routerLinkActive="active">Output</a><br>
  <a routerLink="/componentProps" routerLinkActive="active">ComponentProps</a><br>
  <a routerLink="/projection" routerLinkActive="active">Projection</a><br>
  <h4>LifeCicle</h4>
  <a routerLink="/ngOnInit" roterLinkActive="active">NgOnInit</a><br>
  <a routerLink="/ngOnChanges1" routerLinkActive="active">NgOnChanges 1</a>
</nav>

<div class="red">
  <router-outlet></router-outlet>
</div>